<title>Landing page and Projects</title>
    
    <!-- Display Logged in username -->

    <!-- if the username has projects show them here, 
    and make them clickable-->

<h1 style="text-align: center; margin-top: 25px;">Your Projects</h1>

 <div id="add-project-popup" class="input-box">
    <form class="add-project-form" action="/boards/new" method="POST">
        <div class="user-box">
            <input id="add-project-name-input" type="text" name="name" minlength="3" maxlength="40" required>
            <label for="name"><b>Name</b></label>
        </div>
        <div class="user-box">
            <input id="add-project-description-input" type="text" name="description" minlength="3" maxlength="300" required>
            <label for="description"><b>Description</b></label>
        </div>
        <button id="add-project-button" class="input-button" type="submit"> <B>Add</B> </button>
        <button id="close-project-button" class="input-button" onclick="closeForm();"> <B>Close</B> </button>
    </form> 
</div>


<div style="display: flex; justify-content: center;">
    <button id="open-add-project-button" onclick="openForm();">New Project</button>
</div>

{{#each projects}}


<!-- Add stuff for projects here -->
<div class="Welcome" id="{{this.name}}-{{this.id}}">

<div>
    <section>
        <article>
    <!-- Fox - A project image might not be needed -->
    <header></header>
    <a href="/boards/{{this.id}}"> <h1 style="font-size: 150%;">{{this.name}}</h1> </a>
    <p>Description: {{this.description}}</p>
    <button id="delete-project-button-{{this.id}}" onclick="deleteProject({{this.id}});">Delete {{this.name}}</button>
       </article>
    </section>
</div>
    <!-- Log out -->

    <!-- Add Project -->
    
    <!-- Delete Project -->
    </div>
    
{{/each}}


<script>
    const formAdd = document.getElementById('add-project-popup')
    const formAddButton = document.getElementById('add-project-popup-button')            

    function openForm(){
        if(formAdd.style.display != "block"){
            formAdd.style.display = "block"
        }
    }

    function closeForm(){
        if(formAdd.style.display != "none"){
            formAdd.style.display = "none"
        }
    }

    async function deleteProject(project_id){
        fetch(`boards/${project_id}/delete`, {
            method: "DELETE"
        }).then(res =>
            window.location = res.url 
        );
    }
</script>
