<title>{{project.name}}</title>
<h1 style="text-align: center; margin-top: 25px;">{{project.name}}</h1>

<div class="container" >
	<div id="add-task-popup" class="input-box" >
      	<form class="add-task-form" action="/boards/{{project.id}}/task/new" method="POST">
      	    <div class="user-box">
      	        <input id="add-task-name-input" type="text" name="name" minlength="3" maxlength="40" required>
      	        <label for="name"><b>Name</b></label>
      	    </div>
      	    <div class="user-box">
      	        <input id="add-task-description-input" type="text" name="description" minlength="3" maxlength="300" required>
      	        <label for="description"><b>Description</b></label>
      	    </div>
      	    <div class="user-box">
      	        <input id="add-task-user-input" type="number" name="user" min="1" max="999" required>
      	        <label for="user"><b>User</b></label>
      	    </div>
			  <div class="user-box">
				<select id="add-task-column-input" name="column" required>
					{{#each columns}}
  						<option value={{this.id}}>{{this.name}}</option>
					{{/each}}
				</select>
      	    </div>
			<button id="add-task-button" class="input-button" type="submit">Add</button>
      		<button id="close-task-button" class="input-button" onclick="closeForm();"> <B>Close</B> </button>
      	</form> 
	</div>
  
{{#each columns}}

<div class="box" >
	<div class="box-sub">
		<div class="box-sub">
			{{this.name}}
			<span class="plusIcon" id="plusIcon-{{this.id}}" onclick="openForm()">&#43;</span>
		</div>
	</div>
	<div id="{{this.name}}-list" class="tasks" >
		{{#each this.tasks}}
			<div class="draggable" id="{{this.Uid}}-{{this.id}}">
				<p> {{this.name}} </p>
				<p> {{this.description}} </p>
			<button onclick="deleteTask({{../../project.id}}, {{this.id}});">Delete</button> 
			</div>			
		{{/each}}
	</div>            
</div>
{{/each}}
</div>

<script>

const draggables = document.querySelectorAll('.draggable')
const containers = document.querySelectorAll('.box')

const taskLists = document.querySelectorAll('.tasks')

for(let i = 0; i < taskLists.length; i++){
	Sortable.create(taskLists[0])
}

draggables.forEach(draggable => {
	draggable.addEventListener('dragstart', () =>{
    	draggable.classList.add('dragging')
	})

	draggable.addEventListener('dragend', () => {
    	draggable.classList.remove('dragging')
	})
})

containers.forEach(container => {
    container.addEventListener('dragover', e => {
    	e.preventDefault()
    	const draggable = document.querySelector('.dragging')
    	container.appendChild(draggable)
    })
})

const formAdd = document.getElementById('add-task-popup')
const formAddButton = document.getElementById('add-task-popup-button')            

function openForm(){
    if(formAdd.style.display != "block"){
        formAdd.style.display = "block"
    }
}

function closeForm(){
    if(formAdd.style.display != "none"){
        formAdd.style.display = "none"
    }
}

async function deleteTask(project_id, task_id){
    fetch(`${project_id}/task/${task_id}/delete`, {
        method: "DELETE"
    }).then(res =>
        window.location = res.url 
    );
}
	
</script>
